@page
@model AboutModel
@{
    ViewData["Title"] = "Acerca de";
}

<div class="text-center">
    <h2>Acerca de Nosotros</h2>
    <p>En Tecnología Avanzada, estamos dedicados a ofrecer soluciones innovadoras que potencien el crecimiento digital.</p>
</div>
