@page
@model ContactModel
@{
    ViewData["Title"] = "Contacto";
}

<div class="text-center">
    <h2>Contáctanos</h2>
    <p>¿Tienes alguna pregunta? Estamos aquí para ayudarte.</p>
    <p>Email: pumarialejandrocarmen@gmail.com</p>
    <p>Teléfono: +591 76834132</p>
</div>
